@font-face {
  font-family: 'samim';
  src: url('../fonts/Samim/Samim-Medium.ttf') format('ttf'),
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/static/Nunito-Medium.ttf');
}